variable "region" {
  description = "AWS region"
  type        = string
  default     = "{{ region }}"
}

variable "app_count" {
  description = "Number of application instances"
  type        = number
  default     = {{ app_count }}
}

variable "instance_type" {
  description = "EC2 instance type"
  type        = string
  default     = "{{ instance_type }}"
}

variable "app_name" {
  description = "Application name"
  type        = string
  default     = "{{ app_name }}"
}

variable "key_name" {
  description = "AWS Key Pair name for EC2 instances"
  type        = string
  default     = "your-key-pair"
}
